<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Formulaire</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="/">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>


<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Formulaire de l'ENSIM</h1>
        <div class="row center">
            <h5 class="header col s12 light">On peut conclure votre specialtité par un simple formulaire
                <br>
            </h5>
        </div>

        <div class="row">
        {% if probability is defined %}
        <h3>Vous étes fort probablement {{ probability }}</h3>
        {% else %}
            <form action='/predict' method="post" class="col s12">
                {% for item in questions %}
                        {% for question, responses in item.items() %}
                            {% set q = question.replace(question.split('-')[0], "").replace(question.split('-')[0], "").replace(question.split('=')[-1], "").replace("=", "") %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ q }}
                                </div>
                                <div class="col-md-6">
                                    {% set responses = responses.split(";") %}
                                    {% if responses[1] %}
                                        <div class="input-field col s6">
                                            <input id="{{question }}" name="{{ question}}"
                                                   type="text" placeholder="entre votre reponse ajouter [;]">
                                            <label for="{{question }}" class="">Votre réponse</label>
                                        </div>
                                    {% else %}
                                         <p>
                                            <label>
                                                <input name="{{question }}" type="radio" value="Connais pas"/>
                                                <span>Connais pas</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input name="{{question }}" type="radio" value="Jamais"/>
                                                <span>Jamais</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input name="{{question }}" type="radio" value="Un peu"/>
                                                <span>Un peu</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input name="{{question }}" type="radio"
                                                       value="Régulièrement"/>
                                                <span>Régulièrement</span>
                                            </label>
                                        </p>
                                        <p>
                                            <label>
                                                <input name="{{question }}" type="radio"
                                                       value="J'aime bien"/>
                                                <span>J'aime bien</span>
                                            </label>
                                        </p>

                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                {% endfor %}
                <div class="row center">

                    <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
                </div>
            </form>
        {% endif %}
        </div>

        <br>
        <h2>{{ pred }}</h2><br>

    </div>
</div>


<br><br>
</div>
</div>>

<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's
                    our full time job. Any amount would help support and continue development on this project and is
                    greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="js/init.js"></script>

</body>
</html>

